#comparison h3, #comparison h5, #comparison p {
    text-align: center;
  }
pre {
    background-color: #444;
    color: #FFF;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    padding: 10px;
    border-radius: 6px;
    font-size: 13px;
  }